
# Ignorar todas as pastas chamadas "compactados" e seus conteúdos
**/compactados/

# Ignorar apenas arquivos .gz dentro de pastas chamadas "compactados"
**/data/IMDBdata/*.tsv


# Ignorar a pasta de anotações
**/Anotacoes/